# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.yaml

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/DerivedData/
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/captures/
*.iml

# VS Code
.vscode/
*.code-workspace

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# macOS
.DS_Store

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/
web/.packages
web/build/

# Windows
windows/flutter/ephemeral/
windows/.dart_tool/
windows/.packages
windows/build/

# Generated localization files
intl_translation.arb